:root{

    --color1: #0A0A23;
    --color2: #1B1B32;
    --color3: #2D2D4B;
    --color4: #3A3A5F;

    --linear-gradient1: linear-gradient(var(--color1),var(--color2),var(--color3),var(--color4));
    --linear-gradient2: linear-gradient(to left, var(--color1),var(--color2),var(--color3),var(--color4));
    --linear-gradient3: linear-gradient(to right, var(--color2),var(--color3));
    --conic-gradient1: radial-gradient(var(--color3),var(--color2),var(--color1));

    --black-color: rgb(0,0,0);
    --background-color: #1B1B32;
    --div-color: var(--linear-gradient2);
    --text-field-color: #3A3A5F;
    --navbar-color: var(--linear-gradient1);
    --div-before-color: var(--linear-gradient2);
    --button-color: var(--color1);
    --header-color: var(--color3);
    --text-color: white;

}

body{
    margin: 0;
    display: grid;
    grid-template-columns: min(20rem,40vw) 1fr;
    background: var(--background-color);
    color: var(--text-color)
}

.left_container{
    width: 100%;
    background: var(--navbar-color);
}

.left_nav{
    position: fixed;
    width: min(20rem,40vw);
    height: 30rem;
    display: grid;
    justify-content: right;
    align-items: center;
}

.homePagePicture{
    width: 200px;
    height: 50px;
    border-radius: 25px;
    border: 3px solid #f5f6f7;
}

.left_div{
    display: grid;
    width: min(10rem,20vw);
    height: 4rem;
    font-size: 1rem;

    background: var(--div-color);
    border-radius: 2rem 0 0 2rem;
    padding: 0 2rem;
    margin-top: 1rem;
    justify-items: center;
    align-items: center;
    border: white 1px solid;
    border-right: 0;

    opacity: 0.9;
}

.left_div::before{
    content: '';
    position: absolute;
    width: min(10rem,20vw);
    height: 1rem;
    right: 0;
    transform: translateY(2.5rem);
    border-bottom-left-radius: 1rem;

    border: white 1px solid;
    border-right: 0;
    border-top: 0;
    background: var(--div-before-color);
}

.left_div.active::before{
    transform: translateY(-2.5rem);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 0;

    border-top: white 1px solid;;
    border-bottom: 0;
}

.left_href{
    text-decoration: none;
    color: var(--text-color);
}

.right_container{
    background: var(--background-color);

    position: relative;
    display: grid;
    align-items: center;
    justify-items: center;
}

.head{
    background: var(--header-color);
    width: 100%;
    height: 10%;

    border-radius: 0;

    color: white;
    font-size: x-large;
    font-family: Arial, serif;

    position: absolute;
    display: grid;
    align-self: flex-start;
    align-content: center;
    justify-content: center;
}

.form{
    border-right: 3px white solid;
    border-left: 3px white solid;

    display: grid;
    justify-items: center;
    align-items: center;

    min-width: 20rem;
    min-height: 25rem;

    border-radius: 1rem;
}

.fillers{
    display: grid;
    justify-items: center;
    align-items: center;

    width: 20rem;
    height: 10rem;
}

.buttonDiv{
    width: 20rem;
    height: 8rem;

    position: relative;
    align-items: center;
    justify-items: center;
    display: grid;
    /*background: red;*/
}

button{
    background: var(--conic-gradient1);

    /*border: 1px solid white;*/
    border-radius: 5%;

    width: 8rem;
    height: 3rem;

    justify-content: center;
    align-items: center;

    text-align: center;
    font-size: medium;
    color: white;
}

input{
    background: var(--text-field-color);
    width: 12rem;
    height: 3rem;

    border-radius: 0.5rem;
    border: 0.1rem white solid;
    color: white;
    text-align: center;
    font-size: x-large;
    font-family: Arial, sans-serif;
    opacity: 0.6;
}

input::placeholder{
    color: white;
    text-align: center;
    font-size: large;
    font-family: Arial, sans-serif;
}

.announcements{
    display: grid;
    align-items: center;
    justify-items: center;
    background: var(--header-color);
    width: 90%;
    border-radius: 1rem;
}

.line{
    /*border-bottom: 2px solid white;*/
}

.messagebox{
    /*padding: 1rem;*/
    display: grid;
    align-items: start;
    justify-content: start;
    width: 100%;
    height: 25rem;
    background: var(--navbar-color);
    overflow-y: scroll;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    align-items: start;
    justify-items: start;
}

li{
    /*border: 2px solid white;*/
    border-left: 2px solid white;
    margin: 5px;
    padding-left: 10px;
}

.text-div{
    width: 50vw;
    /*width: 100px;*/
/*    height: 1rem;*/
}