* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #1B1B32;
    margin: 0;
}

h1, h2 {
    color: white;
    margin-top: 20px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #2A2A4F;
    color: white;
}

tr:nth-child(even) {
    background-color: #1B1B32;
}
tr:nth-child(odd) {
    background-color: #2A2A4F;
}

a{
    color: white;
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: auto;
    color:white;
    background-color: #3A3A5F;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 20px;
}

.section {
    margin-top: 30px;
    border-top: 2px solid #ddd;
    padding-top: 20px;
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.tag {
    background-color: #1B1B32;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.admin-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.admin-action {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.admin-action:hover {
    background-color: #218838;
}
